/* Fonts */

// Basic Sans Alt

@font-face {
  font-family: 'basic-sans-alt';
  src: url('/assets/fonts/basicsansalt-black-webfont.woff2') format('woff2'),
    url('/assets/fonts/basicsansalt-black-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'basic-sans-alt';
  src: url('/assets/fonts/basicsansalt-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/basicsansalt-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'basic-sans-alt';
  src: url('/assets/fonts/basicsansalt-light-webfont.woff2') format('woff2'),
    url('/assets/fonts/basicsansalt-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'basic-sans-alt';
  src: url('/assets/fonts/basicsansalt-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/basicsansalt-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// Roboto

@font-face {
  font-family: 'roboto';
  src: url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('/assets/fonts/roboto-light-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('/assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// Roboto Condensed

@font-face {
  font-family: 'roboto-condensed';
  src: url('/assets/fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/robotocondensed-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensed';
  src: url('/assets/fonts/roboto-condensed-regular.woff2') format('woff2'),
    url('/assets/fonts/roboto-condensed-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
