@import "~src/app/styles/variables";

:host {
  display: block;
  padding: 28px 50px;

  @media (max-width: $screen-sm) {
    padding: 16px 4px;
  }

  .wrapper {
    min-width: 550px;
    max-width: 1068px;
    width: 95%;
    margin: 0 auto;
  }
}
