@import "~src/app/styles/variables";

// text below "seat selection" label, seat number, legend
%label-default {
  color: $color-text-light;
  font-family: $primary-font;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

// both total price
%label-price {
  color: $color-text-dark;
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 26px;
  margin: 0 0 16px;
}
