@import "~src/app/styles/variables";

@mixin default-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@mixin default-flex-item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  min-width: 0;
  min-height: auto;
}

@mixin seat-base($size, $radius) {
  width: $size;
  height: $size;
  border: 1px solid $color-text-lightest;
  background-color: $color-white;
  border-radius: $radius;
  box-sizing: border-box;
}

@mixin seat-variants($size) {
  &.selected {
    border-color: $color-secondary;
    background-color: $color-secondary;
    & > div {
      color: white;
    }
  }

  &.available {
    &:not(.info-box) {
      cursor: pointer;
    }

    border-color: $color-secondary;
    &:hover:not(.selected, .info-box) {
      background-color: $color-bg-blue-light;
    }
  }

  &.unavailable {
    border-color: $color-text-lightest;
    background-color: $light-bg;
    &:before,
    &:after {
      background-color: $color-text-lightest;
    }
  }

  &.occupied {
    border-color: $color-secondary;
    background-color: $color-bg-blue-light;
    &:before,
    &:after {
      background-color: $color-secondary;
    }
  }

  &.unavailable,
  &.occupied {
    @include box-cross($size);

    &:not(.info-box) {
      cursor: not-allowed;
    }

    .seat-number {
      display: none;
    }
  }
}

@mixin box-cross($size) {
  position: relative;
  overflow: hidden;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -52.5%;
    width: 1px;
    height: $size * 2;
  }

  &:before {
    transform: rotate(45deg);
    right: calc(50% + 1px);
  }

  &:after {
    transform: rotate(-45deg);
    left: calc(50% + 1px);
  }
}
