@import "~src/app/styles/variables";

@mixin seat-base($size, $radius) {
  height: $size;
  width: $size;
  border: 1px solid $color-text-lightest;
  background-color: $color-white;
  border-radius: $radius;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

@mixin seat-variants($size) {
  &.selected {
    border-color: $color-secondary;
    background-color: $color-secondary;
    & > div {
      color: white;
    }
  }

  &.available {
    &:not(.info-box) {
      cursor: pointer;
    }

    border-color: $color-secondary;
    &:hover:not(.selected, .info-box) {
      background-color: $color-bg-blue-light;
    }
  }

  &.unavailable {
    border-color: $color-text-lightest;
    background-color: $light-bg;
    &:before,
    &:after {
      background-color: $color-text-lightest;
    }
  }

  &.occupied {
    border-color: $color-secondary;
    background-color: $color-bg-blue-light;
    &:before,
    &:after {
      background-color: $color-secondary;
    }
  }

  &.unknown {
    border-color: $color-text-lightest;
    background-color: $light-bg;
  }

  &.unknown,
  &.unavailable,
  &.occupied {
    .seat-number {
      display: none;
    }
  }

  &.unavailable,
  &.occupied {
    @include box-cross($size);
  }
}

@mixin box-cross($size) {
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -52.5%;
    width: 1px;
    height: $size * 2;
  }

  &:before {
    transform: rotate(45deg);
    right: calc(50% + 1px);
  }

  &:after {
    transform: rotate(-45deg);
    left: calc(50% + 1px);
  }
}
