@import '~src/app/styles/variables';

@import '~src/aircraft-seat-map/shared/styles/extends';
@import '~src/aircraft-seat-map/shared/styles/mixins';
@import '~src/aircraft-seat-map/shared/styles/variables';

@import 'styles/extends';

$spacing-1: 8px;
$spacing-2: 10px;
$spacing-3: 14px;

$info-box-width: 14px;
$info-box-radius: 5px;

:host {
  display: block;

  @media only screen and (min-width: $seat-map-breakpoint-md) {
    @include default-flex-container;

    width: 100vw;
    height: 100vh;

    .progress-bar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}

.container {
  @media only screen and (max-width: $seat-map-breakpoint-md - 1) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: $seat-map-breakpoint-xs;
  }

  @media only screen and (min-width: $seat-map-breakpoint-md) {
    @include default-flex-item;

    padding: 0;
    box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.18);
    height: calc(100vh - #{$outer-spacing-md} - #{$outer-spacing-md});
    background-color: $color-white;
  }
}

.content {
  @media only screen and (max-width: $seat-map-breakpoint-sm - 1) {
    bottom: $footer-height-xs;
  }

  @media only screen and (max-width: $seat-map-breakpoint-md - 1) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: $footer-height-sm;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  @media only screen and (min-width: $seat-map-breakpoint-md) {
    @include default-flex-container;

    align-items: flex-start;
    width: 100%;
    height: calc(100% - #{$footer-height-md});
  }

  .seat-selection-wrapper,
  .seat-map-wrapper {
    @media only screen and (min-width: $seat-map-breakpoint-md) {
      @include default-flex-item;
    }
  }

  .seat-selection-wrapper {
    padding: $outer-spacing-xs (($seat-map-breakpoint-xs - $seat-map-width-xs) / 2) 0;

    @media only screen and (min-width: $seat-map-breakpoint-sm) {
      padding: $outer-spacing-sm (($seat-map-breakpoint-sm - $seat-map-width-sm) / 2) 0;
    }

    @media only screen and (min-width: $seat-map-breakpoint-md) {
      width: $sidebar-width;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      padding: $inner-spacing-md $seat-spacing-md 0 $inner-spacing-md;
    }

    .group {
      margin-bottom: $spacing-3;

      &:last-child {
        margin-bottom: $spacing-3 - $legroom-regular-xs;
      }

      .flight {
        color: $color-text-dark;
        font-family: $secondary-font;
        font-weight: 400;
        font-size: $font-size-l;
        letter-spacing: 0;
        line-height: $line-height-l;
        margin: 0 0 6px;
      }

      .passenger {
        @extend %passenger-button;

        color: $color-text-light;
        font-family: $primary-font;
        font-size: $font-size-m;
        letter-spacing: 0;
        line-height: $line-height-xxl;
        margin: 0;
        padding: 0 $spacing-3;
        text-decoration: none;

        &.condensed-item {
          line-height: $line-height-xl;
        }
      }
    }
  }

  .seat-map-wrapper {
    @media only screen and (max-width: $seat-map-breakpoint-md - 1) {
      @include default-flex-container;
    }

    @media only screen and (min-width: $seat-map-breakpoint-md) {
      margin-top: $inner-spacing-md - $legroom-regular-md;
      padding-right: $inner-spacing-md - ($seat-spacing-md / 2);
      width: $seat-map-width-md;
      height: calc(100% - (#{$inner-spacing-md} - #{$legroom-regular-md}));
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  app-seat-map {
    margin-bottom: $seat-map-gradient-height-xs;

    @media only screen and (min-width: $seat-map-breakpoint-sm) {
      margin-bottom: $seat-map-gradient-height-sm;
    }

    @media only screen and (min-width: $seat-map-breakpoint-md) {
      margin-bottom: $seat-map-gradient-height-md;
    }
  }
}

.footer {
  @extend %above-gradient;
  @include default-flex-container;

  @media only screen and (max-width: $seat-map-breakpoint-sm - 1) {
    padding: $spacing-2 0 $outer-spacing-xs;
  }

  @media only screen and (max-width: $seat-map-breakpoint-md - 1) {
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: $spacing-2 0 $outer-spacing-sm;
    background: $color-white;
    box-sizing: border-box;
    width: 100%;
    height: $footer-height-xs;
  }

  @media only screen and (min-width: $seat-map-breakpoint-md) {
    position: relative;
    padding: $spacing-2 $inner-spacing-md $inner-spacing-md;
    box-sizing: border-box;
    align-items: flex-end;
    height: $footer-height-md;
  }

  .legend-outer-wrapper,
  .cta-outer-wrapper {
    @include default-flex-item;

    flex-basis: 100%;

    @media only screen and (min-width: $seat-map-breakpoint-md) {
      flex-basis: 50%;
    }
  }

  .legend-outer-wrapper {
    @include default-flex-container;

    margin-bottom: $spacing-2;

    @media only screen and (min-width: $seat-map-breakpoint-md) {
      margin: 0;
      justify-content: flex-start;
    }

    .legend-inner-wrapper {
      @include default-flex-container;

      .legend {
        @include default-flex-container;

        &:not(:first-child) {
          margin-left: $spacing-3;
        }

        .info-box,
        .label {
          @include default-flex-item;
        }

        .info-box {
          @include seat-base($info-box-width, $info-box-radius);
          @include seat-variants($info-box-width);

          margin-right: $spacing-1;
        }
      }
    }
  }

  .cta-outer-wrapper {
    @include default-flex-container;
    @media only screen and (min-width: $seat-map-breakpoint-md) {
      justify-content: flex-end;
    }

    .cta-inner-wrapper {
      @include default-flex-item;
      @include default-flex-container;

      flex-direction: column;
      align-items: flex-end;
      min-width: 260px;

      .item {
        @include default-flex-item;

        .label-total-price {
          @extend %label-price;
        }

        .btn-confirm {
          margin-left: $spacing-3;
        }
      }
    }
  }
}
