@import "~src/app/styles/variables";
@import "../../shared/styles/extends";

:host {
  display: block;
  width: 550px;
  margin: 0 auto;
  border: 1px solid $color-bg-gray;
  border-radius: 4px;
  padding: 22px;

  .label {
    @extend %default-text;
    margin: 0;
  }

  .text-bold {
    font-weight: bold;
  }

  .bottom-spacing {
    margin-bottom: 12px;
  }
}
