@import '~src/app/styles/variables';

@import '~src/aircraft-seat-map/shared/styles/mixins';
@import '~src/aircraft-seat-map/shared/styles/extends';

$spacing-top: 90px;
$spacing-bottom: 16px;

:host {
  display: block;
  background-color: $color-white;
  box-sizing: border-box;
  border: 1px solid $color-bg-gray;
  border-radius: 4px;
  padding: 22px;
  margin: $spacing-top auto $spacing-bottom;
  height: calc(100% - #{$spacing-top} - #{$spacing-bottom});
  width: 90%;
  max-width: 550px;

  .col-wrapper {
    @include default-flex-container;

    align-items: flex-start;

    .col,
    .item {
      @include default-flex-item;
    }

    .col {
      @include default-flex-container;

      flex-basis: 50%;
      flex-wrap: wrap;

      &:first-child {
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: flex-end;
      }

      .item {
        flex-basis: 100%;
      }
    }
  }

  .label-seat-selection {
    color: $color-text-light;
    font-family: $primary-font-alt;
    font-size: $font-size-s;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: $line-height-s;
    text-transform: uppercase;
  }

  .label-default {
    @extend %label-default;

    margin: 0;
  }

  .label-total-price {
    @extend %label-price;

    margin-top: 12px;
    margin-bottom: 0;
  }
}
