<div class="col-wrapper">
  <div class="col">
    <div class="item">
      <p class="label-seat-selection">Seat selection</p>
    </div>
    <div class="item" *ngIf="flights$ | async as flights">
      <ng-container *ngIf="flights.isSeatSelectionValid">
        <p class="label-default" *ngFor="let flightId of flights.allIds">
          {{ flights.byId[flightId].flightInfo.departure.code }} -
          {{ flights.byId[flightId].flightInfo.arrival.code }}:
          <ng-container
            *ngFor="
              let passengerId of flights.byId[flightId].passengers.allIds;
              let last = last
            "
          >
            <ng-container
              *ngIf="
                flights.byId[flightId].passengers.byId[passengerId]
                  .seatRowNumber &&
                flights.byId[flightId].passengers.byId[passengerId].seatCode
              "
            >
              {{
                flights.byId[flightId].passengers.byId[passengerId]
                  .seatRowNumber
              }}{{ flights.byId[flightId].passengers.byId[passengerId].seatCode
              }}<ng-container *ngIf="!last">,</ng-container>
            </ng-container>
          </ng-container>
        </p>
        <p class="label-total-price">
          Total price:
          {{ flights.totalPrice.total | number: "1.2-2" }}
          {{ flights.totalPrice.currencyCode }}
        </p>
      </ng-container>
    </div>
  </div>
  <div class="col">
    <button
      mat-flat-button
      color="primary"
      routerLink="/demo/seat-selection"
      title="Seats Selection"
      [queryParams]="queryParams"
    >
      {{ (flights$ | async)?.isSeatSelectionValid ? "Edit" : "Select" }} Seats
    </button>
  </div>
</div>
