@import "~src/app/styles/variables";
@import "~src/aircraft-seat-map/shared/styles/seat-map";

:host {
  display: block;

  .aircraft {
    @extend %flex-parent;
    .cabins-wrapper {
      @extend %flex-child;
      .cabin {
        padding: 0 $seat-half-outer-spacing;
      }
    }
  }

  .row {
    @extend %flex-parent;
    .seat,
    .aisle {
      @extend %flex-child;
      margin: $regular-legroom $seat-half-outer-spacing 0;
    }
  }

  .seat {
    @include seat-base($seat-size, 16px);
    @include seat-variants($seat-size);
    user-select: none;
    transition: all 150ms ease-in;

    &.extra-legroom {
      margin-top: $extra-legroom;
    }

    .seat-number {
      @extend %flex-parent;
      height: 100%;
      width: 100%;

      @extend %text;
    }
  }

  .aisle {
    width: $aisle-size;
    height: $seat-size;
  }
}
