@import '~src/app/styles/variables';

@import '~src/aircraft-seat-map/shared/styles/extends';
@import '~src/aircraft-seat-map/shared/styles/mixins';
@import '~src/aircraft-seat-map/shared/styles/variables';

@import 'styles/extends';

:host {
  display: block;

  .aircraft {
    @include default-flex-container;

    .cabins-wrapper {
      @include default-flex-item;

      flex-shrink: 0;

      .cabin {
        padding: 0 ($seat-spacing-xs/2);

        @media only screen and (min-width: $seat-map-breakpoint-sm) {
          padding: 0 ($seat-spacing-sm/2);
        }

        @media only screen and (min-width: $seat-map-breakpoint-md) {
          padding: 0 ($seat-spacing-md/2);
        }
      }
    }
  }

  .row {
    @include default-flex-container;

    align-items: flex-end;

    .seat-wrapper,
    .aisle {
      @include default-flex-item;

      margin: $legroom-regular-xs ($seat-spacing-xs/2) 0;

      @media only screen and (min-width: $seat-map-breakpoint-sm) {
        margin: $legroom-regular-sm ($seat-spacing-sm/2) 0;
      }

      @media only screen and (min-width: $seat-map-breakpoint-md) {
        margin: $legroom-regular-md ($seat-spacing-md/2) 0;
      }
    }

    .seat-wrapper {
      &.extra-legroom {
        margin-top: $legroom-extra-xs;

        @media only screen and (min-width: $seat-map-breakpoint-sm) {
          margin-top: $legroom-extra-sm;
        }

        @media only screen and (min-width: $seat-map-breakpoint-md) {
          margin-top: $legroom-extra-md;
        }
      }

      &.emergency-exit-row {
        @extend %emergency-exit;
      }
    }

    .seat {
      @include seat-base($seat-size-xs, $seat-radius-xs);
      @include seat-variants($seat-size-xs);

      user-select: none;

      @media only screen and (min-width: $seat-map-breakpoint-sm) {
        @include seat-base($seat-size-sm, $seat-radius-sm);
        @include seat-variants($seat-size-sm);
      }

      @media only screen and (min-width: $seat-map-breakpoint-md) {
        @include seat-base($seat-size-md, $seat-radius-md);
        @include seat-variants($seat-size-md);
      }

      .seat-number {
        @extend %label-default;
        @include default-flex-container;

        width: 100%;
        height: 100%;
        @media only screen and (max-width: $seat-map-breakpoint-sm - 1) {
          font-size: $font-size-xs;
        }
      }
    }

    .aisle {
      width: $aisle-size-xs;
      height: $seat-size-xs;

      @media only screen and (min-width: $seat-map-breakpoint-sm) {
        width: $aisle-size-sm;
        height: $seat-size-sm;
      }

      @media only screen and (min-width: $seat-map-breakpoint-md) {
        width: $aisle-size-md;
        height: $seat-size-md;
      }
    }
  }
}
