<div class="aircraft" *ngIf="flightNumber && passengerId">
  <div class="cabins-wrapper">
    <div class="cabin">
      <div *ngFor="let row of seatMap" class="row">
        <ng-container *ngFor="let item of row">
          <div
            class="aisle"
            *ngIf="item.type === itemItemType.Aisle; else seatTemplate"
          ></div>
          <ng-template #seatTemplate>
            <div
              class="seat-wrapper"
              [ngClass]="{
                'extra-legroom': item.characteristics.includes(
                  itemCharacteristic.LegSpaceSeat
                ),
                'emergency-exit-row': item.characteristics.includes(
                  itemCharacteristic.ExitRowSeat
                )
              }"
            >
              <div
                class="seat"
                [ngClass]="{
                  selected: item.selected,
                  available: item.availability === seatAvailability.Available,
                  unavailable:
                    item.availability === seatAvailability.Unavailable ||
                    item.availability === seatAvailability.Unknown ||
                    item.availability === seatAvailability.NotAvailable ||
                    !item.availability,
                  occupied: item.availability === seatAvailability.Occupied
                }"
                [matTooltip]="getTooltip(item)"
                [matTooltipDisabled]="
                  item.availability !== seatAvailability.Available
                "
                matTooltipTouchGestures="off"
                (click)="selectSeat(item)"
              >
                <div class="seat-number">
                  <div>{{ item.rowNumber }}{{ item.code }}</div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</div>
