@import "~src/app/styles/variables";
@import "~src/aircraft-seat-map/shared/styles/seat-map";

:host {
  display: block;
  min-height: 650px;
  margin: 0 auto;
  padding: 32px 24px 24px;
  background-color: $color-white;
  box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.18);

  .header {
    @extend %flex-parent;
    margin-bottom: 24px;
    @media (max-width: $screen-sm) {
      flex-wrap: wrap;
    }
    & > div {
      @extend %flex-child;
      @media (max-width: $screen-sm) {
        flex-basis: 100%;
      }

      flex-basis: 50%;

      &:first-child {
        padding-right: 22px;
      }
      &:last-child {
        padding-left: 22px;
      }

      &:first-child,
      &:last-child {
        @media (max-width: $screen-sm) {
          padding: 0px;
        }
      }
    }
    .mat-form-field {
      width: 100%;
    }
  }

  .content {
    @extend %flex-parent;
    align-items: flex-start;
    @media (max-width: $screen-sm) {
      flex-wrap: wrap;
    }

    .selection-wrapper,
    .aircraft-wrapper,
    .right-placeholder {
      @extend %flex-child;
      flex: 1;
      @media (max-width: $screen-sm) {
        flex-basis: 100%;
      }
    }

    .selection-wrapper,
    .right-placeholder {
      margin-top: $regular-legroom;
    }

    .selection-wrapper {
      @media (max-width: $screen-sm) {
        order: 1;
        display: flex;
        flex-flow: row nowrap;
        & > div {
          flex: 0 1 33.33%;
        }
      }
    }
  }

  .footer {
    @extend %flex-parent;
    align-items: flex-end;
    margin-top: 56px;
    .seat-info-wrapper,
    .cta-wrapper {
      @extend %flex-child;
      flex-basis: 50%;
    }

    .cta-wrapper {
      @extend %flex-parent;
      justify-content: flex-end;
      .cta-inner-wrapper {
        @extend %flex-child;
      }
    }
  }

  .seat-info-wrapper {
    .seat-info {
      @extend %flex-parent;
      justify-content: left;
      .info-box,
      .label {
        @extend %flex-child;
      }

      .info-box {
        @include seat-base(14px, 5px);
        @include seat-variants(14px);
        margin-right: 8px;
      }
    }
  }

  .label {
    @extend %text;
    margin: 0;
    &.active {
      font-weight: bold;
      color: $color-secondary;
    }
  }

  .bottom-spacing {
    margin-bottom: 12px;
  }

  .cta-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .price {
      color: $color-text-dark;
      //font-family: BasicSansAlt-Bold;
      font-size: 22px;
      letter-spacing: 0;
      line-height: 26px;
      text-align: right;
      font-weight: bold;
    }

    .confirm {
      margin-left: 14px;
    }
  }
}
