@import "~src/app/styles/variables";
@import "../../shared/styles/extends";
@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";
@import "styles/extends";

:host {
  display: block;

  @media (min-width: $seat-selection-breakpoint) {
    @include default-flex-container;
    width: 100vw;
    height: 100vh;
    .progress-bar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .seat-selection-wrapper {
    .flight {
      color: $color-text-dark;
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 22px;
      margin: 0 0 6px;
    }

    .passenger {
      color: $color-text-light;
      font-family: $primary-font;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 40px;
      padding: 0 14px;
      @extend %passenger-button;

      &.condensed-item {
        @media (min-width: $seat-selection-breakpoint) {
          line-height: 26px;
        }
      }

      &.last-item {
        margin-bottom: 14px;
      }
    }
  }
}

.container {
  padding: 0 $seat-map-outer-spacing-small;
  min-width: $seat-map-width-small;
  height: calc(100vh - #{$footer-height-small});
  overflow-x: hidden;
  overflow-y: auto;

  @media (min-width: $seat-selection-breakpoint) {
    @include default-flex-item;
    padding: 0;
    min-width: auto;
    box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.18);
    height: calc(
      100vh - #{$seat-map-outer-spacing} - #{$seat-map-outer-spacing}
    );
    overflow: auto;
    background-color: $color-white;
  }
}

.content {
  @media (min-width: $seat-selection-breakpoint) {
    @include default-flex-container;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - #{$footer-height});
    overflow: hidden;
  }

  .seat-selection-wrapper,
  .seat-map-wrapper {
    @media (min-width: $seat-selection-breakpoint) {
      @include default-flex-item;
    }
  }

  .seat-selection-wrapper {
    padding: $seat-map-outer-spacing-small 0 0;
    @media (min-width: $seat-selection-breakpoint) {
      width: $sidebar-width;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      padding: $seat-map-inner-spacing $seat-spacing 0 $seat-map-inner-spacing;
    }
  }

  .seat-map-wrapper {
    @media (max-width: $seat-selection-breakpoint - 1) {
      display: flex;
      justify-content: center;
    }
    @media (min-width: $seat-selection-breakpoint) {
      margin-top: $seat-map-inner-spacing - $legroom-regular;
      padding-right: $seat-map-inner-spacing - ($seat-spacing / 2);
      width: $seat-map-width;
      height: calc(100% - (#{$seat-map-inner-spacing} - #{$legroom-regular}));
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  app-seat-map {
    //margin-bottom: $seat-map-gradient-height-small;
    margin-bottom: 92px; // TODO: android fix (revisit after demo)
    @media (min-width: $seat-selection-breakpoint) {
      margin-bottom: $seat-map-gradient-height;
    }
  }
}

.footer {
  @extend %bottom-gradient;
  @include default-flex-container;

  @media (max-width: $seat-selection-breakpoint - 1) {
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 0 $seat-map-outer-spacing-small;
    background: $color-white;
    box-sizing: border-box;
    width: 100%;
    height: $footer-height-small;
  }

  @media (min-width: $seat-selection-breakpoint) {
    position: relative;
    padding: 0 $seat-map-inner-spacing $seat-map-inner-spacing;
    box-sizing: border-box;
    align-items: flex-end;
    height: $footer-height;
  }

  .legend-outer-wrapper,
  .cta-outer-wrapper {
    @include default-flex-item;
    flex-basis: 100%;
    @media (min-width: $seat-selection-breakpoint) {
      flex-basis: 50%;
    }
  }

  .legend-outer-wrapper {
    @include default-flex-container;
    margin-bottom: 10px;
    @media (min-width: $seat-selection-breakpoint) {
      margin: 0;
      justify-content: flex-start;
    }

    .legend-inner-wrapper {
      @include default-flex-container;
      .legend {
        @include default-flex-container;
        &:not(:first-child) {
          margin-left: 14px;
        }
        .info-box,
        .label {
          @include default-flex-item;
        }

        .info-box {
          @include seat-base(14px, 5px);
          @include seat-variants(14px);
          margin-right: 8px;
        }
      }
    }
  }

  .cta-outer-wrapper {
    @include default-flex-container;
    @media (min-width: $seat-selection-breakpoint) {
      justify-content: flex-end;
    }

    .cta-inner-wrapper {
      @include default-flex-item;

      .label-total-price {
        @extend %label-price;
        text-align: center;
      }

      .confirm {
        margin-left: 14px;
      }
    }
  }
}
