<ng-container *ngIf="flights$ | async as flights; else loading">
  <div class="header">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Select Flight</mat-label>
        <mat-select
          name="flight"
          [(ngModel)]="this.userSelection.flightNumber"
          (selectionChange)="selectFlight($event)"
        >
          <mat-option
            *ngFor="let flight of flights | keyvalue"
            [value]="flight.key"
          >
            {{ flight.value.flightInfo.departure.code }} -
            {{ flight.value.flightInfo.arrival.code }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Select Traveler</mat-label>
        <mat-select
          name="passenger"
          [disabled]="!this.userSelection.flightNumber"
          [(ngModel)]="this.userSelection.passengerId"
          (selectionChange)="selectPassenger($event)"
        >
          <mat-option
            *ngFor="
              let passenger of flights[this.userSelection.flightNumber]
                ?.passengers | keyvalue
            "
            [value]="passenger.key"
          >
            {{ passenger.value.firstName }}
            {{ passenger.value.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="content">
    <div class="selection-wrapper">
      <div *ngFor="let flight of flights | keyvalue">
        <h4>
          {{ flight.value.flightInfo.departure.code }} -
          {{ flight.value.flightInfo.arrival.code }}
        </h4>

        <ng-container
          *ngFor="let passenger of flight.value.passengers | keyvalue"
        >
          <h5>
            {{ passenger.value.firstName }} {{ passenger.value.lastName }}:
            <ng-container
              *ngIf="
                passenger.value.seatRowNumber && passenger.value.seatCode;
                else notSelectedSeat
              "
            >
              {{ passenger.value.seatRowNumber }}{{ passenger.value.seatCode }}
            </ng-container>
            <ng-template #notSelectedSeat> (not selected seat) </ng-template>
          </h5>
        </ng-container>
      </div>

      <h4 *ngIf="userSelection.flightNumber || userSelection.passengerId">
        Dev Output:
      </h4>
      <pre *ngIf="userSelection.flightNumber">
Flight: {{ userSelection.flightNumber | json }}</pre
      >
      <pre *ngIf="userSelection.passengerId">
Passenger: {{ userSelection.passengerId | json }}</pre
      >
    </div>
    <div class="aircraft-wrapper">
      <app-seat-map
        [flightNumber]="userSelection.flightNumber"
        [passengerId]="userSelection.passengerId"
        [seatMapState]="flights[userSelection.flightNumber]?.seatMap"
        (seatSelection)="onSelection($event)"
      ></app-seat-map>
    </div>
    <div class="right-placeholder"></div>
  </div>

  <div class="footer">
    <div class="seat-info-wrapper">
      <div class="seat-info">
        <div class="info-box available"></div>
        <span class="label">Available</span>
      </div>
      <div class="seat-info">
        <div class="info-box unavailable"></div>
        <span class="label">Unavailable</span>
      </div>
      <div class="seat-info">
        <div class="info-box occupied"></div>
        <span class="label">Occupied</span>
      </div>
      <div class="seat-info">
        <div class="info-box unknown"></div>
        <span class="label">Unknown</span>
      </div>
    </div>
    <div class="cta-wrapper">
      <div class="cta-inner-wrapper">
        <p class="price">Total price: 0&euro;</p>
        <button
          class="cancel"
          mat-stroked-button
          routerLink="/demo/summary"
          [queryParams]="queryParams"
        >
          Cancel
        </button>
        <button
          class="confirm"
          mat-flat-button
          color="accent"
          routerLink="/demo/summary"
          [queryParams]="queryParams"
        >
          Confirm settings
        </button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
