@import "~src/app/styles/variables";

:host {
  display: block;
  width: 808px;
  min-height: 746px;
  margin: 0 auto;
  padding: 32px 24px;
  background-color: $color-white;
  box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.18);
}
